;; this is an example file, copy it into local_settings.clj and customize it

(ns dredd.local-settings
  "This namespace stores all local settings for the application")

;; app settings
(def app
  {:base-url ""}) ;; points to base url, must not end with slash

;; admin settings
(def admin
  {:username "admin"
   :password "admin"})

;; neo4j settings
(def neo4j
  {:path "neo-db"})

;; settings for LDAP authentication
(def ldap
  {:host "ldap.example.com:636"
   :ssl? true
   :connect-timeout 5000
   :timeout 5000
   :user-to-bind-dn (fn [user] (str "uid=" user ",ou=person,dc=example,dc=com")) 
   })
